/* General Styles */
body {
    font-family: "Avenir Next", sans-serif;
    color: #444;
    background: #eee;
    margin: 40px auto;
    max-width: 800px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 0;
    text-align: center;
}
a {
    color: #006699;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* Header */
header {
    background-color: #006699;
    color: #fff;
    padding: 20px;
    text-align: center;
}
header h1 {
    font-size: 36px;
    margin: 0;
}
header p {
    font-size: 18px;
    margin: 0;
}
/* Navigation */
nav {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav li {
    display: inline-block;
    margin: 0 10px;
}
/* Main Content */
.container {
    margin: 20px auto;
    max-width: 800px;
    padding: 0 20px;
}

.resume {
    margin-top: 30px;
}
.resume h2 {
    margin-top: 0;
}
.resume ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.resume li {
    margin: 10px 0;
}

/* Footer */
footer {
    background-color: #006699;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
